body {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background: white;
    border-radius: 5px;
    width: 90vw;
    max-width: 800px;
    padding: 25px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#buttons {
    justify-content: space-between;
    padding-top: 20px;
}

.buttons {
    padding: 0px;
    background-color: #fff;
    border: 0px;
    flex: none;
}

div {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    flex: 1;
}

#stats div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
}
#stats #value {
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
}

#budget div {
    min-width: 200px;
}

#budget div:hover {
    background-color: rgb(240, 240, 240);
}

#iterate_btn {
    background-color: rgb(255, 50, 50);
    color: whitesmoke;
}

#iterate_btn:hover {
    background-color: rgb(255, 80, 80);
}

#iterate_btn:active {
    background-color: rgb(200, 0, 0);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button:hover {
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
}

button:active {
    background-color: black;
}

input {
    width: 100%;
    background: red;

}

input:hover {
    cursor: pointer;
} 