body {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main {
    background: white;
    border-radius: 5px;
    width: 80vw;
    max-width: 800px;
    padding: 20px;
}

#stats, #budget{
    display: flex;
    gap: 20px;
}
#stats div {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    flex: 1;
}
#stats div:first-of-type {
    border-radius: 50%;
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
    flex: 0.5
}

#budget div {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#game_buttons button:first-of-type {
    background-color: rgb(255, 50, 50);
    color: whitesmoke;
}

input {
    width: 100%;
}

input:hover {
    cursor: pointer;
}