body {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background: white;
    border-radius: 5px;
    width: 90vw;
    max-width: 800px;
    padding: 25px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
    flex: 1;
}

div:hover {
    background-color: rgb(240, 240, 240);
}

.stats div {
    text-align: center;
}

.stats div:first-child {
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
}

.stats div:first-child:hover {
    background-color: rgb(40, 40, 40);
}

.budget div {
    min-width: 200px;
}

.buttons {
    justify-content: space-between;
    padding-top: 20px;
}

.buttons div {
    padding: 0px;
    background-color: #fff;
    box-shadow: none;
    flex: none;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
}

button:hover {
    background-color: rgb(80, 80, 80);
    color: whitesmoke;
}

button:active {
    background-color: black;
}

#iterate_btn {
    background-color: rgb(255, 50, 50);
    color: whitesmoke;
}

#iterate_btn:hover {
    background-color: rgb(255, 80, 80);
}

#iterate_btn:active {
    background-color: rgb(200, 0, 0);
}

input {
    width: 100%;
    accent-color: rgb(255, 50, 50);

}

input:hover {
    cursor: pointer;
} 